form {
}

label{
  width: 100%;
}
input[type=text], input[type=password] {
    width: 485px;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
/* Set a style for all buttons */
button {
    background-color: #999966;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 48%;
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}

.containers {
  padding: 25px;
  width: 500px;
}
/* Add padding to containers */
.container {
    padding: 16px;
}

/* The "Forgot password" text */
span.pass {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.pass {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}
